.parametro-senha-botoes{
    display: flex;
    justify-content: center;
}
.parametro-senha__botao{
    background-color: var(--fundo-texto);
    color: var(--branco);
}
.parametro-senha__botao{
    background-color: var(--fundo-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
}